<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OlahInputData</servlet-name>
        <servlet-class>OlahInputData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahInputHidden1</servlet-name>
        <servlet-class>OlahInputHidden1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahInputHidden2</servlet-name>
        <servlet-class>OlahInputHidden2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahInputDataHidden</servlet-name>
        <servlet-class>.OlahInputDataHidden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahHidden1</servlet-name>
        <servlet-class>OlahHidden1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OlahData</servlet-name>
        <servlet-class>Pertemuan7.OlahData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sukses</servlet-name>
        <servlet-class>Pertemuan7.sukses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gagal</servlet-name>
        <servlet-class>Pertemuan7.gagal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>length</servlet-name>
        <servlet-class>Pertemuan7.kurang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OlahInputData</servlet-name>
        <url-pattern>/OlahInputData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahInputHidden1</servlet-name>
        <url-pattern>/OlahInputHidden1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahInputHidden2</servlet-name>
        <url-pattern>/OlahInputHidden2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahInputDataHidden</servlet-name>
        <url-pattern>/OlahInputDataHidden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahHidden1</servlet-name>
        <url-pattern>/OlahHidden1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OlahData</servlet-name>
        <url-pattern>/OlahData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sukses</servlet-name>
        <url-pattern>/sukses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gagal</servlet-name>
        <url-pattern>/gagal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>length</servlet-name>
        <url-pattern>/length</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
